# ---- Python ----
__pycache__/
*.pyc
.venv/
.env

# ---- dbt ----
target/
dbt_packages/
logs/
.user.yml

# dbt profiles should NOT be committed
profiles.yml

# ---- OS / IDE ----
.DS_Store
.vscode/
.idea/

# ---- Docker ----
*.pid
